// Utility
.block-center
  margin 0 auto !important
.text-dark
  color #333 !important

// Scaffolding
html, body
  height 100%
  width 100%

body
  font-family 'PT Sans'
  background #D6AD0D
  z-index -101

.menu-container
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display table
  height 100%
  width 100%
  background rgba(#ffcc06, 0.95)
  opacity 0
  z-index -999
  transition opacity 0.5s

  &.open
    opacity 1
    z-index 1

    .menu-content
      z-index 1

  .menu-content
    display table-cell
    text-align center
    vertical-align middle
    text-transform uppercase

    a
      color #0D224E
      letter-spacing 1.5px

      &:hover, &:focus, &:active
        text-decoration none
        border-bottom 2px solid #0D224E

.hamburger-navbar
  opacity 0
  // background darken(#D6AD0D, 10%)
  background rgba(#D6AD0D, 1.0);
  // box-shadow 0px 1px 5px #333
  position fixed
  top 0
  left 0
  right 0
  z-index 2
  min-height 85px
  transition all 0.3s

  &.open
    z-index -1
    &.scrolled
      margin-top -85px

  &.scrolled
    opacity 1

  h1
    position relative
    top 7px
    right 30px
    color #0C224F

.hamburger-container
  position fixed
  top 30px
  left 30px
  z-index 2

  @media (max-width: 767px)
    position static
    padding 15px
    z-index 9999
    
    &.scrolled
      position fixed
      top 15px
      left 5px

    &.open
      position fixed
      top 28px
      left 17px
      margin 0
      padding 0

// Based on http://codepen.io/designcouch/pen/Atyop
.hamburger
  scale = 0.5
  display block
  z-index 2
  width: 60px * scale;
  height: 45px * scale;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span
    display: block;
    position: absolute;
    height: 9px * scale;
    width: 100%;
    background: #0D224E;
    border-radius: 0px * scale;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 18px * scale;
  }

  span:nth-child(4) {
    top: 36px * scale;
  }

  &.open span:nth-child(1) {
    top: 18px * scale;
    width: 0%;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: 18px * scale;
    width: 0%;
    left: 50%;
  }

#calendar.open
  visibility hidden

h1, h2
  font-weight bold

.fc-left h2
  text-transform uppercase

.fc-today
  color #333

.page-header
  border-bottom none

.panel
  color #333
  border-radius 0
  border none

  .panel-heading
    border-radius 0

  &.panel-light
    background transparent

    .panel-heading
      background rgba(#eee, 0.85)
      border-bottom none
      .panel-title
        text-transform uppercase

    .panel-body
      background rgba(#fff, 0.85)

  .panel-body
    padding 30px

.btn
  border-radius 0px
  padding 10px 25px
  text-transform uppercase

  &.btn-transparent
    background transparent
    border 2px solid #D6AD0D
    color #333
    letter-spacing 0.05rem
    transition all 0.3s

    &:hover
      background #D6AD0D

  &.btn-transparent-light
    @extends .btn.btn-transparent
    color #eee

label
  text-transform uppercase
  font-weight normal
  letter-spacing 0.03rem

  &.required::after
    content ' *'
    color red

.form-control
  border-radius 0
  border 2px solid #eee
  background transparent
  color #eee

  &:focus
    box-shadow none
    border-color #D6AD0D

  textarea&
    resize vertical

.jumbotron
  &.jumbotron-background
    min-height 110%
    margin-bottom 0
    padding-top 0
    color #eee
    background rgba(#333, 0.95)

.container-fluid
  background #FFCC06
  opacity 0.8

footer.navbar-default
  border-radius 0
  margin-bottom 0
  //background darken(#D6AD0D, 10%)
  background #D6AD0D;
  border 0
  box-shadow 0px -1px 5px #333
  .navbar-nav
    .navbar-text, a
      color #0d224e
      font-weight normal
    a:hover
      text-decoration underline
