.col-xs-12.text-left
  .panel.panel-default
    .panel-heading
      h3.panel-title Competitive Events Fair on 10/28
    .panel-body.
      We'll be hosting our competitive events fair after school in the Upper Cafeteria on October 28, 2015.  Visit this
      fair to learn about FBLA's competitive events and sign up for them.  Competitive events are one of the biggest parts
      of FBLA, so please make sure that you come.
      <br><br>
      <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
.clearfix
br
