extends _base

block head
  title Wissahickon FBLA | Official Site
  
block content
  .row
    .col-sm-4
      .panel.panel-default.panel-light
        .panel-heading
          h3.panel-title First Meeting
        .panel-body
          span If you were not at our first general meeting on Wednesday 9/9, view our presentation to see what you missed.
          br
          br
          a.btn.btn-transparent(href='https://docs.google.com/presentation/d/1XPV1u5ab8DNU3qdF7wG4PfWuu_RuOY0M3gDqa6fUkFE/edit?usp=sharing' target='_blank') View Presentation
    .col-sm-4
      .panel.panel-default.panel-light
        .panel-heading
          h3.panel-title Join the Club
        .panel-body
          span Joining the club is easy - simply fill out our form and bring in your dues.
          br
          br
          a.btn.btn-transparent(href='https://docs.google.com/forms/d/1Ma7iJr9_XqrCTzfb1doKIzww-5qOdYYKekWnvePLhpM/viewform') Sign Up
    .col-sm-4
      .panel.panel-default.panel-light
        .panel-heading
          h3.panel-title Any Questions?
        .panel-body
          span Feel free to contact us with any questions you may have.
          br
          br
          a.btn.btn-transparent(href='/contact') Contact Us
