extends _base

block head
  title Wissahickon FBLA | Official Site
  meta(name='description' content="Official website of the Wissahickon FBLA, a business education club that spreads businses skills through speaker events, competition, and more.")
  meta(name='keywords' content='wiss, wissahickon, fbla, wiss fbla, club, wissahickon high school, whs')
  
block content
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      h1.text-uppercase Welcome to Wiss FBLA
      br
      p.
        FBLA is a national organization with over 250,000 members that spreads business 
        learning through competition and activities.  Join the Wissahickon chapter of this organization to 
        participate in this prestigious organization's competitions and activities.
      br
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      h2 Latest News&nbsp;&nbsp;
        a.btn.btn-transparent-light(href='/news') View All
      br
      include latest-news
      br
      br
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .row
        .col-sm-4
          .panel.panel-default.panel-light
            .panel-heading
              h3.panel-title First Meeting
            .panel-body
              span If you were not at our first general meeting on Wednesday 9/9, view our presentation to see what you missed.
              br
              br
              a.btn.btn-transparent(href='https://docs.google.com/presentation/d/1XPV1u5ab8DNU3qdF7wG4PfWuu_RuOY0M3gDqa6fUkFE/edit?usp=sharing' target='_blank') View Presentation
        .col-sm-4
          .panel.panel-default.panel-light
            .panel-heading
              h3.panel-title Join the Club
            .panel-body
              span Joining the club is easy - simply fill out our form and bring in your dues.
              br
              br
              a.btn.btn-transparent(href='https://docs.google.com/forms/d/1Ma7iJr9_XqrCTzfb1doKIzww-5qOdYYKekWnvePLhpM/viewform') Sign Up
        .col-sm-4
          .panel.panel-default.panel-light
            .panel-heading
              h3.panel-title Any Questions?
            .panel-body
              span Feel free to contact us with any questions you may have.
              br
              br
              a.btn.btn-transparent(href='/contact') Contact Us
