.col-xs-12.text-left
  .panel.panel-default
    .panel-heading
      h3.panel-title College Financials Speaker on 10/13
    .panel-body.
      We'll be hosting our first speaker event on Tuesday, October 13, 2015 at 3pm.  Our speaker will be talking
      about financial planning in college and how you can manage your money to reduce debt.  We expect this event
      to be a huge success and expect all members to be present.  See you there!
      <br><br>
      <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
.clearfix
br
