extends _base

block head
  title News | Wissahickon FBLA
  
block content
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      h1.text-uppercase News
      br
      p.
        Our upcoming activities and other announcements
      br
      br
      .row
        include latest-news
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title First Meeting on 9/9
            .panel-body.
              We had our first general meeting after school on Wednesday, September 9, 2015.  If you weren't able to make it,
              view our presentation to see what you missed.
              <br><br>
              <a class="btn btn-transparent" href="https://docs.google.com/presentation/d/1XPV1u5ab8DNU3qdF7wG4PfWuu_RuOY0M3gDqa6fUkFE/edit?usp=sharing" target="_blank">View Presentation</a>
              
