.col-xs-12.text-left
  .panel.panel-default
    .panel-heading
      h3.panel-title Dine and Donate on 4/7
    .panel-body.
      We're having a Dine and Donate on Thursday, April 7, at PJ Whelihan's Pub and Restaurant in Blue Bell, PA. The event will take place from 5pm to 9pm. Make sure to mention that you're with Wiss FBLA, and remember to keep your receipt for club credit!
      <br>
      <br>
      <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
.clearfix
br
.col-xs-12.text-left
  .panel.panel-default
    .panel-heading
      h3.panel-title Shark Tank on 4/20
    .panel-body.
      We're having our annual Shark Tank on Wednesday, April 20, from 3pm to 6pm in the Auditorium. Applications are due by April 8th and all are welcome to participate. The winners will receive funding.
      <br>
      <br>
      <a class="btn btn-transparent" href="https://docs.google.com/forms/d/1T3XffS34NO2CrKoXCVTw-0pQhbS9fdo2g8SAJ-ISWoI/viewform">Apply Now</a>
.clearfix
br
