extends _base

block head
  title News | Wissahickon FBLA
  
block content
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      h1.text-uppercase News
      br
      p.
        Our upcoming activities and other announcements
      br
      br
      .row
        include _latest-news
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title Dine and Donate on 12/14 and Speaker Event on 12/16
            .panel-body.
              We're having a Dine and Donate this Monday, 12/14 at PJ Whelihan's Pub and Restaurant in Blue Bell, PA.  Make sure to mention that you're with Wiss FBLA, and remember to keep your receipt for club credit!
              <br>
              <br>
              Additionally, we're having a speaker event in the Audion after school this Wednesday, 12/16.  Come and hear about the pros and cons of self-employment and what life is like as an entrepreneur.
              <br><br>
              <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
        .clearfix
        br
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title School Store Survey
            .panel-body.
              Is there an item that you'd like to see in the school store?  Do you have suggestions on how the school store can be improved?
              If so, please take this short survey so that FBLA can improve the school store for the student body.  Thanks so much!
              <br><br>
              <a class="btn btn-transparent" target="_blank" href="http://www.surveymonkey.com/r/HZL9G9X">Take Survey</a>
        .clearfix
        br
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title Competitive Events Fair on 10/28
            .panel-body.
              We'll be hosting our competitive events fair after school in the Upper Cafeteria on October 28, 2015.  Visit this
              fair to learn about FBLA's competitive events and sign up for them.  Competitive events are one of the biggest parts
              of FBLA, so please make sure that you come.
              <br><br>
              <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
        .clearfix
        br
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title College Financials Speaker on 10/13
            .panel-body.
              We'll be hosting our first speaker event on Tuesday, October 13, 2015 at 3pm.  Our speaker will be talking
              about financial planning in college and how you can manage your money to reduce debt.  We expect this event
              to be a huge success and expect all members to be present.  See you there!
              <br><br>
              <a class="btn btn-transparent" href="/calendar">View Full Calendar</a>
        .clearfix
        br
        .col-xs-12.text-left
          .panel.panel-default
            .panel-heading
              h3.panel-title First Meeting on 9/9
            .panel-body.
              We had our first general meeting after school on Wednesday, September 9, 2015.  If you weren't able to make it,
              view our presentation to see what you missed.
              <br><br>
              <a class="btn btn-transparent" href="https://docs.google.com/presentation/d/1XPV1u5ab8DNU3qdF7wG4PfWuu_RuOY0M3gDqa6fUkFE/edit?usp=sharing" target="_blank">View Presentation</a>
              
